@model WebApplication2.Models.Logs
@{
    ViewBag.Title = "LogsView";
}

<head>
    <style>
        tr:nth-child(2n) {
            background-color: #f2f2f2;
        }
    </style>
</head>
<h2 style="font-weight:bold">Logs:</h2><br />


<table class="table">

    <tr>
        <th>
            Type:
        </th>
        <th>
            Message:
        </th>
    </tr>

    @foreach (var item in Model.LogList)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Message)
            </td>
        </tr>
    }

</table>
